div{
    height: 1600px;
    
    border: 1px solid;
    background-color:;

}

.a{
    height: 600px;
    background-image: url(../images/11.jpg);
   
}
h1{
    text-align: center;
}
p{
    text-align: center;
    display: inline;
}
.b{
    height: 500px;
    width: 500px;
    float: left;
    text-align: center;
    background-image:url(../images/image\ 3.jpg)
    
   
}
.c{
    height: 500px;
    width: 500px;
    float: left;
    background-image: url(../images/image\ 1.jpg);
    padding-left: 50px;
    margin-left: 50px;
}
.d{
    height: 500px;
    width: 450px;
    float: right;
    background-image: url(../images/10.jpg);
    padding-right: 30px;
    margin-right: 40px;
    
}
.e{
    height: 800px;
    width: 1500px;
    background-image: url(../images/12.jpg);
    position: relative;
    top: 150px;
}
.f{
    height: 500px;
    width: 1500px;
    background-color: black;
}
.g{
    height: 900px;
    width: 1450px;
    background-image: url(../images/7.jpg);
    float: left;
    padding-right: 50px;
    margin-left: 85px;
}
.h{
    height: 500px;
    width: 500px;
    float: left;
    background-image: url(../images/8.jpg);
    padding-left:100px;
    margin-left: 150px;
}
.i{
    height: 500px;
    width: 500px;
    float: right;
    background-image: url(../images/9.jpg);
    margin-right: 150px;
    padding-right: 100px;
}




